In [1]:
#from faker import Faker
import numpy as np
import pandas as pd
import random

In [2]:
random.seed(30)
low=1
high=1000
a=[]
for i in range(0,10000):
  a.append(random.randint(low, high))

In [3]:
snacks=['Bitterballen'	    ,
'Bonda'             ,
'Cereal '           ,
'Cokodok'           ,
'Cracker nuts'      ,
'Crepe'             ,
'Croquette'         ,
'Doughnut'          ,
'Gulha'             ,
'Khanom buang'      ,
'Pakora'            ,
'Pancakes'          ,
'Parippu Vada'      ,
'Pazham Pori'       ,
'Pizza '            ,
'Poffertjes'        ,
'Pretzel,'          ,
'Tele-bhaja'        ,
'Waffle'            ,
'Brittle'           ,
'Imli Candy'        ,
'Bubblegum'         ,
'Candy'             ,
'Chocolate'         ,
'Chocolate rugelach',
'Fudge'             ,
'Geplak'            ,
'Grass jelly'       ,
'Marshmallow'       ,
'Marzipan'          ,
'Nougat'            ,
'Panforte'          ,
'Pudding '          ,
'Arrowroot'         ,
'Chebakia'          ,
'Cookie'            ,
'Ginger snaps'      ,
'Graham crackers'   ,]

In [4]:
snacks_dict={v: k for v, k in enumerate(snacks)}

In [5]:
b=[]
for i in range(0,10000):
  b.append(random.randint(0, 37))

In [6]:
snacks_list=[snacks_dict[k] for k in b]

In [7]:
df=pd.DataFrame(data={'Userid':pd.Series(a),'SnackId':pd.Series(b),'Snack':pd.Series(snacks_list)})

In [8]:
df.drop_duplicates(inplace=True)
df.reset_index(inplace=True)

In [9]:
c=[]
for i in range(0,len(df)):
  c.append(round(random.uniform(1, 5),2))

In [10]:
df['Rating']=pd.Series(c)

In [11]:
df.drop(labels='index',axis=1,inplace=True)

In [12]:
df

      Userid  SnackId        Snack  Rating
0        553       26       Geplak    2.11
1        828       23    Chocolate    3.90
2        297       28  Marshmallow    2.90
3        626       26       Geplak    4.10
4         31       26       Geplak    1.23
...      ...      ...          ...     ...
8818     802        7     Doughnut    3.52
8819     989        7     Doughnut    2.20
8820     789       33    Arrowroot    3.23
8821     930       18       Waffle    2.90
8822     851       20   Imli Candy    3.12

[8823 rows x 4 columns]

In [18]:
import datetime
random.random() * datetime.timedelta(days=1)

datetime.timedelta(0, 54325, 315249)

In [20]:
pip install randomtimestamp

Collecting randomtimestamp
  Downloading https://files.pythonhosted.org/packages/ae/8f/ac1c8e1ea0e15fe8e77654b9bec938d1bdf50bf9543975eec577af09adb5/randomtimestamp-1.0.0-py3-none-any.whl
Installing collected packages: randomtimestamp
Successfully installed randomtimestamp-1.0.0

In [33]:
from randomtimestamp import randomtimestamp
from datetime import timezone

In [38]:
t=[]
for i in range(len(df)):
  dt=randomtimestamp(start_year=2016,text=False)
  t.append(dt.replace(tzinfo=timezone.utc).timestamp())

In [40]:
df['timestamp']=pd.Series(t)

In [41]:
df

      Userid  SnackId        Snack  Rating     timestamp
0        553       26       Geplak    2.11  1.464982e+09
1        828       23    Chocolate    3.90  1.519172e+09
2        297       28  Marshmallow    2.90  1.527641e+09
3        626       26       Geplak    4.10  1.489416e+09
4         31       26       Geplak    1.23  1.459609e+09
...      ...      ...          ...     ...           ...
8818     802        7     Doughnut    3.52  1.502676e+09
8819     989        7     Doughnut    2.20  1.599127e+09
8820     789       33    Arrowroot    3.23  1.531234e+09
8821     930       18       Waffle    2.90  1.581391e+09
8822     851       20   Imli Candy    3.12  1.505939e+09

[8823 rows x 5 columns]

In [45]:
df

      Userid  SnackId        Snack  Rating     timestamp
0        553       26       Geplak    2.11  1.464982e+09
1        828       23    Chocolate    3.90  1.519172e+09
2        297       28  Marshmallow    2.90  1.527641e+09
3        626       26       Geplak    4.10  1.489416e+09
4         31       26       Geplak    1.23  1.459609e+09
...      ...      ...          ...     ...           ...
8818     802        7     Doughnut    3.52  1.502676e+09
8819     989        7     Doughnut    2.20  1.599127e+09
8820     789       33    Arrowroot    3.23  1.531234e+09
8821     930       18       Waffle    2.90  1.581391e+09
8822     851       20   Imli Candy    3.12  1.505939e+09

[8823 rows x 5 columns]

In [44]:
df.to_csv('snackreviews.csv',index=False)